@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Press+Start+2P&family=Roboto:wght@300;400;500;700&display=swap');

$colorBGC: #232526;

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.container {
  height: 100dvh;
  width: 720px;
  position: relative;
  .card{
    width: 100%;
  }
}
.index {
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .start-btn {
    font-size: 2rem;
    cursor: pointer;
    &.hide{
      display: none;
    }
  }
  .start-btn:hover {
    font-size: 2.1rem;
  }
  &.close {
    display: none;
  }
  .start-text {
    font-size: 2rem;
  }
}
.game-over-page{
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  text-align: center;
  .game-over-text {
    font-size: 4rem;
    margin-bottom: 50px;
    border-bottom: 10px solid #000;
    border-radius: 10px;
  }
  .level-info-text {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  .restart-text {
    font-size: 18px;
    margin-top: 15px;
    padding: 20px;
    cursor: pointer;
  }
  .restart-text:hover {
    scale: 1.1;
  }
  &.close {
    display: none;
  }
}
.card {
  width: 100%;
  height: 70%;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #eee;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 8px solid rgba(#787878, 0.5);
  transition: 0.5s;
  position: relative;
  &.good {
    transition: 0s;
    border: 8px solid rgba(#005011, 0.8);
  }
  &.bad {
    transition: 0s;
    border: 8px solid rgba(red, 0.8);
  }
  .level-title {
    font-family: 'Press Start 2P', cursive;
    width: 90%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
    .level-number {
      padding-left: 10px;
    }
  }
  .card-title {
    text-align: center;
    font-size: 10rem;
  }
  .time {
    @include flexCenter;
    margin-top: 50px;
    position: relative;
    width: 90%;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
  }
  .time-bar {
    content: '';
    position: absolute;
    bottom: -15px;
    width: 100%;
    left: 0;
    border-radius: 5px;
    border-bottom: 10px solid #333;
    
  }
}
.btns {
  width: 100%;
  height: 30%;
  border: 5px solid rgba(#787878, 0.5);
  border-top: 2.5px solid rgba(#787878, 0.5);
  padding: 0;
  .row {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row:nth-child(1) {
    border-bottom: 5px solid rgba(#787878, 0.5);
  }
  .btn {
    background-color: #eee;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    list-style: none;
    cursor: pointer;
  }
  .btn:nth-child(1){ 
    border-right: 2.5px solid rgba(#787878, 0.5);
  }
  .btn:nth-child(2){
    border-right: 2.5px solid rgba(#787878, 0.5);
    border-left: 2.5px solid rgba(#787878, 0.5);
  }
  .btn:nth-child(3){ 
    border-left: 2.5px solid rgba(#787878, 0.5);
    border-right: 2.5px solid rgba(#787878, 0.5);
  }
  .btn:nth-child(4) {
    border-left: 2.5px solid rgba(#787878, 0.5);
  }
} 
.audios{
  position: absolute;
  // left: 0;
}
@media (max-width: 767px) {
  .container {
    width: 90%;
    height: 100%;
  }
  .index {
    .start-btn:hover {
      font-size: 2rem;
    }
  }
  .game-over-page{
    .restart-text:hover {
      scale: 1;
    }
  }
}
@media (max-width: 414px) {
  .index {
    .start-btn {
      font-size: 1rem;
    }
    .start-btn:hover {
      font-size: 1.1rem;
    }
  }
  .card {
    .level-title {
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .card-title {
      margin-top: -20px;
    }
    .time {
      margin-top: 15px;
    }
  }
  .btns {
    .btn {
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 3rem;
    }
  }
}